<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{range $index, $hoobie := .Hobbies}}
    <h1>{{$hoobie}}</h1>
{{else}}
    <h1>Hobby Not Found</h1>
{{end}}
</body>
</html>